<nav class="bg-white drop-shadow py-6">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button
            type="button"
            class="inline-flex items-center justify-center p-2 rounded-md text-gray-800 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
              Heroicon name: outline/menu
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg
              class="block h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
            <!--
              Icon when menu is open.
              Heroicon name: outline/x
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg
              class="hidden h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start" >
          <div class="flex-shrink-0 flex items-center">
            <h1 class="text-2xl font-bold">UNIR</h1>
          </div>
        </div>
      </div>
    </div>

  </nav>
<div class="md:bg-split-gray-white">
  <div class="container mx-auto">

    <div class="grid md:grid-cols-12">
      <div class="bg-gray-200 px-6 md:col-span-8 py-10">
        <div class="flex items-center pb-3">
          <div class="w-7 h-7 bg-blue-900 text-white rounded-full flex justify-center items-center text-center p-3 mr-4">2</div>
          <h2 class="text-2xl">Student info</h2>
        </div>
        <p class="pb-3 text-xl font-light">Please complete the student information</p>
        <div class="mb-4 relative">
          <mat-form-field class="w-full lg:w-3/4" appearance="fill">
            <mat-label class="">Student ID</mat-label>
            <input matInput class="!text-gray-500">
          </mat-form-field>
        </div>
        <div class="mb-4 relative">
          <mat-form-field class="w-full lg:w-3/4" appearance="fill">
            <mat-label class="">Full name</mat-label>
            <input matInput class="!text-gray-500">
          </mat-form-field>
        </div>
        <div class="mb-4 relative">
          <mat-form-field class="w-full lg:w-3/4" appearance="fill">
            <mat-label class="">Student email</mat-label>
            <input matInput class="!text-gray-500">
          </mat-form-field>
        </div>
        <div class="mb-4 relative">
          <mat-form-field class="w-full lg:w-3/4" appearance="fill">
            <mat-label class="">Training</mat-label>
            <input matInput class="!text-gray-500">
          </mat-form-field>
        </div>
        <div class="mb-4 relative">
          <mat-form-field class="w-full lg:w-3/4" appearance="fill">
            <mat-label class="">ID training number</mat-label>
            <input matInput class="!text-gray-500">
          </mat-form-field>
        </div>
      </div>


      <div class="bg-white px-6 md:col-span-4 py-10 min-h-screen font-SantanderHeadlineW05">
        <div class="border-b-2 border-gray-100 mb-5">
          <h2 class="text-2xl pb-3">Amount</h2>
          <p class="pb-3 text-lg font-light grid xl:flex xl:justify-between">Country of origin:<span>España</span></p>
          <p class="pb-3 text-lg font-light grid xl:flex xl:justify-between">Amount:<span>10.000$</span></p>
        </div>
        <div class="">
          <h2 class="text-2xl pb-3">Student info</h2>
          <p class="pb-3 text-lg font-light grid xl:flex xl:justify-between">Student ID:<span>123456789-ABC</span></p>
          <p class="pb-3 text-lg font-light grid xl:flex xl:justify-between">Full name:<span>Javier Otero</span></p>
          <p class="pb-3 text-lg font-light grid xl:flex xl:justify-between">Student email:<span>email@pagonxt.com</span></p>
          <p class="pb-3 text-lg font-light grid xl:flex xl:justify-between">Training:<span>Grado en derecho y políticas</span></p>
          <p class="pb-3 text-lg font-light grid xl:flex xl:justify-between">ID training number:<span>lawpolitics12345</span></p>
        </div>
      </div>


    </div>
  </div>
</div>